/* ===================== */
/*     ESTILOS GLOBALES  */
/* ===================== */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* ===================== */
/*      ENCABEZADO       */
/* ===================== */

.page-header {
    background-color: rgb(104, 63, 105);
    color: white;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 30px;
}

/* ===================== */
/*    CONTENEDOR FLEX    */
/* ===================== */

.container-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
    padding: 0 20px;
}

/* ===================== */
/*     BLOQUES OPCIÓN    */
/* ===================== */

.main-content {
    background-color: rgb(242, 221, 247);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease;
}

.main-content:hover {
    transform: scale(1.03);
}

.main-content p {
    font-size: 18px;
    color: #050505;
    margin-bottom: 20px;
    text-decoration: none;
}

/* ===================== */
/*     BOTÓN PRINCIPAL   */
/* ===================== */

.mainButton {
    background-color: #9b8b9b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.mainButton:hover {
    background-color: #532d54;
    text-decoration: none;
}

/* ======================== */
/*  BOTÓN INCIDENCIAS USER  */
/* ======================== */

.btn-incidencias {
    background-color: #8e44ad;
    color: white;
    padding: 0.8rem 1.4rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn-incidencias:hover {
    background-color: #732d91;
  }
  