/* Estilos para la tabla de registro */
.customTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.customTable th, .customTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.customTable th {
    background-color: rgb(104, 63, 105);
    color: white;
}

.customTable tr {
    background-color: #f2f2f2;
}

/* Separador de meses */
.monthSeparator {
    background-color: #724c26; 
}



/* Contenedor principal de la tabla Registro */

/* Asegurar que los botones de la tabla no sean afectados por otros estilos */
.tableButton {
    font-size: 12px;
    padding: 5px 8px;
}

.table-container {
    display: flex;
    justify-content: center; /* Centrar la tabla */
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

/* Ajustar el tamaño de la tabla */
.table-wrapper {
    width: 60%;
    max-width: 600px;
    overflow-x: auto;
}

/* Estilos exclusivos para la tabla de historial de picaje */
.picajeTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white;
}

.picajeTable th, .picajeTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.picajeTable th {
    background-color: rgb(104, 63, 105);
    color: white;
}

.picajeTable tr {
    background-color: #f2f2f2;
}

/* Mostrar la tabla siempre */
.picajeTable {
    display: table;
}


